<div class="col-lg-12 monetization-info">
  <a class="cardItem__markLink" href="/">
    Продайте объявление быстрее
    <i class="fa fa-angle-down"></i>
  </a>
  <div class="monetization-info__item">
    <div class="monetization-info__body">
      <h3 class="monetization-info__item-title">
        <i class="fa fa-arrow-up"></i> Поднять - от 45 руб.
      </h3>
      <p class="monetization-info__desc">
        Ваше объявление поднимется наверх списка результатов поиска до конца дня. И будет уступать место лишь объявлениям, поднятым
        после него.
      </p>
    </div>
  </div>
  <div class="monetization-info__item">
    <div class="monetization-info__body">
      <h3 class="monetization-info__item-title">
        <i class="fa fa-fire"></i> В горячие - от 45 руб.
      </h3>
      <p class="monetization-info__desc">
        Ссылку на ваше объявление увидят все посетители сайта. Она будет первой в горячих предложениях, пока кто-либо не займет это
        место.
      </p>
    </div>
  </div>
  <div class="monetization-info__item">
    <div class="monetization-info__body">
      <h3 class="monetization-info__item-title">
        <i class="fa fa-bookmark"></i> Выделить «Срочно, торг» - от 35 руб.
      </h3>
      <p class="monetization-info__desc">
        Ваше объявление украсит флажок со словами «Срочно, торг».
      </p>
    </div>
  </div>
  <div class="monetization-info__item">
    <div class="monetization-info__body">
      <h3 class="monetization-info__item-title">
        <i class="fa fa-paint-brush"></i> Покрасить - от 45 руб.
      </h3>
      <p class="monetization-info__desc">
        Цветное объявление намного заметнее в общем списке.
      </p>
    </div>
  </div>
</div>