<!-- <app-hot-block></app-hot-block> -->
<section class="container">
  <div class="row">
    <div class="col">
      <!-- <app-banner [width]="1142" [height]="250" [images]="images"></app-banner> -->
    </div>
  </div>
</section>
<section class="pt-3" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <app-sub-category-list></app-sub-category-list>
        <!-- <app-other-product></app-other-product> -->
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <aside class="aside">
          <div class="aside__item">
            <app-news-block></app-news-block>
          </div>
          <!-- <app-banner></app-banner> -->
        </aside>
      </div>
    </div>
  </div>
</section>
