<p class="user-unit__reduction-title">Редактирование</p>
<!-- <div class="user-unit__reduction-btn">
  <a href="addNewAd.html" class="b-btn b-btn--blue">
    текст
  </a>
</div> -->
<a href="Photo_edit.html" class="btn btn-warning btn-block">
  изображение
</a>
<!-- <div class="user-unit__reduction-btn">
  <a href="addNewAd.html" class="b-btn b-btn--blue">
    комментарии
  </a>
</div> -->
<a href="addNewAd.html" class="btn btn-danger btn-block">
  Удалить
</a>
<mark class="ctrLinks--unit-comment__desc">
  <b>Внимание!</b> Объявление будет перемещено в архив. При желании Вы можете восстановить его за 45 ед. из
  личного кабинета.
</mark>
