<article class="otherProduct">
  <header class="otherProduct__header">

    <div class="row">
      <div class="col-md-6">
        <h2 class="otherProduct__title">Запчасти</h2>
      </div>
      <div class="col-md-6 text-right">
        <span class="otherProduct__toGoList">
          <a href="#">
            <i class="otherProduct__icon fa fa-list"></i>&nbsp;Перейти к разделу</a>
        </span>
      </div>
    </div>

  </header>
  <hr>
  <div class="otherProduct__hot-body hot__body" style="display: block;">
    <div class="hot__grid--noCenter" style="position: relative; width: 509px; height: 200px;">
      <div class="hot__item hot__grid-item" style="position: absolute; left: 0px; top: 0px;">
        <header class="hot__item-header">
          <span class="hot__item-name">
            <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
          <span class="hot__item-imgCount">2&nbsp;
            <i class="fa fa-camera"></i>
          </span>
        </header>
        <a href="#">
          <img heightwidth="" src="https://picsum.photos/120/90?blur" alt="">
        </a>
        <footer class="hot__item-footer">
          <span class="hot__item-city">
            <i class="fa fa-map-marker"></i> &nbsp;Санкт-Перербург,
            <span class="hot__item-price">1 500 000₸</span>, что-то еще </span>
        </footer>
      </div>
      <div class="hot__item hot__grid-item" style="position: absolute; left: 131px; top: 0px;">
        <header class="hot__item-header">
          <span class="hot__item-name">
            <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
          <span class="hot__item-imgCount">2&nbsp;
            <i class="fa fa-camera"></i>
          </span>
        </header>
        <a href="#">
          <img heightwidth="" src="https://picsum.photos/120/90?blur" alt="">
        </a>
        <footer class="hot__item-footer">
          <span class="hot__item-city">
            <i class="fa fa-map-marker"></i> &nbsp;Санкт-Перербург,
            <span class="hot__item-price">1 500 000₸</span>, что-то еще </span>
        </footer>
      </div>
      <div class="hot__item hot__grid-item" style="position: absolute; left: 262px; top: 0px;">
        <header class="hot__item-header">
          <span class="hot__item-name">
            <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
          <span class="hot__item-imgCount">2&nbsp;
            <i class="fa fa-camera"></i>
          </span>
        </header>
        <a href="#">
          <img heightwidth="" src="https://picsum.photos/120/90?blur" alt="">
        </a>
        <footer class="hot__item-footer">
          <span class="hot__item-city">
            <i class="fa fa-map-marker"></i> &nbsp;Санкт-Перербург,
            <span class="hot__item-price">1 500 000₸</span>, что-то еще </span>
        </footer>
      </div>
      <div class="hot__item hot__grid-item" style="position: absolute; left: 393px; top: 0px;">
        <header class="hot__item-header">
          <span class="hot__item-name">
            <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
          <span class="hot__item-imgCount">2&nbsp;
            <i class="fa fa-camera"></i>
          </span>
        </header>
        <a href="#">
          <img heightwidth="" src="https://picsum.photos/120/90?blur" alt="">
        </a>
        <footer class="hot__item-footer">
          <span class="hot__item-city">
            <i class="fa fa-map-marker"></i> &nbsp;Санкт-Перербург,
            <span class="hot__item-price">1 500 000₸</span>, что-то еще </span>
        </footer>
      </div>
      <div class="hot__item hot__grid-item" style="position: absolute; left: 0px; top: 100px;">
        <header class="hot__item-header">
          <span class="hot__item-name">
            <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
          <span class="hot__item-imgCount">2&nbsp;
            <i class="fa fa-camera"></i>
          </span>
        </header>
        <a href="#">
          <img heightwidth="" src="https://picsum.photos/120/90?blur" alt="">
        </a>
        <footer class="hot__item-footer">
          <span class="hot__item-city">
            <i class="fa fa-map-marker"></i> &nbsp;Санкт-Перербург,
            <span class="hot__item-price">1 500 000₸</span>, что-то еще </span>
        </footer>
      </div>
      <div class="hot__item hot__grid-item" style="position: absolute; left: 131px; top: 100px;">
        <header class="hot__item-header">
          <span class="hot__item-name">
            <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
          <span class="hot__item-imgCount">2&nbsp;
            <i class="fa fa-camera"></i>
          </span>
        </header>
        <a href="#">
          <img heightwidth="" src="https://picsum.photos/200/150/?blur" alt="">
        </a>
        <footer class="hot__item-footer">
          <span class="hot__item-city">
            <i class="fa fa-map-marker"></i> &nbsp;Санкт-Перербург,
            <span class="hot__item-price">1 500 000₸</span>, что-то еще </span>
        </footer>
      </div>
    </div>
  </div>
  <footer class="otherProduct__footer">
    <a class="otherProduct__linkItem" href="#">Запчасти
      <span class="otherProduct__linkItem-icon">1</span>
    </a>
    <a class="otherProduct__linkItem" href="#">Аккамуляторы
      <span class="otherProduct__linkItem-icon">12</span>
    </a>
    <a class="otherProduct__linkItem" href="#">Шины и диски
      <span class="otherProduct__linkItem-icon">3</span>
    </a>
    <a class="otherProduct__linkItem" href="#">Corporis.
      <span class="otherProduct__linkItem-icon">152</span>
    </a>
    <a class="otherProduct__linkItem" href="#">Corporis.
      <span class="otherProduct__linkItem-icon">0</span>
    </a>
    <a class="otherProduct__linkItem" href="#">Corporis.
      <span class="otherProduct__linkItem-icon">85</span>
    </a>
  </footer>
</article>