<app-breadcrumb [routes]="[{key:'главная', value:'/'}, {key: 'сотрудничество', value:'/'}]"></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Сотрудничество с аррба.ру</h1>
      <br>
      <h2>1. Ваш баннер на нашем сайте (кросс-баннерная реклама)</h2>
      <p>Просто разместите баннер Вашего сайта на главной странце arrba.ru
        - за это мы попросим разместит наш баннер у вас на сайте.
      </p>
      <h2>2. Создайте <a [routerLink]="['/', 'information', 'for-dealers']">свой салон</a> на Аррба.ру</h2>
      <p>У вас будет свой кабинет где вы можете размещать свои объявления <span class="text-success">бесплатно</span></p>
    
    </div>
  </div>
</div>
