<section class="comment">
  <div class="comment__title">
    Комментарии
    <p class="comment__stripBottom"></p>
  </div>
  <div class="comment__commentItem">
    <!--commentItem-->
    <div class="commentItem">
      <header class="commentItem__header">
        <span class="commentItem__author-name">Николай</span>
        <span class="commentItem__date">16 февраля 2016 в 22:56</span>
        <a href="/" class="commentItem__answer">Ответить</a>
        <a href="/" class="commentItem__complain">Пожаловаться</a>
      </header>
      <footer class="commentItem__footer">
        <!--Offer-->
        <div class="commentItem__offer offer">
          <div class="offer__pin"></div>
          <div class="row">
            <div class="col-md-2 col-sm-6">
              <figure class="offer__img">
                <img class="img-fluid" src="https://picsum.photos/200/150/?blur" alt="">
              </figure>
            </div>
            <div class="col-md-10 col-sm-6">
              <div class="offer__content">
                <span class="offer__content-title-first">
                  <i class="fa fa-refresh"></i> Предложение на обмен</span>
                <a href="/" class="offer__content-title">
                  Chrysler 300C, 2008 г., 1 500 00 р
                </a>
                <div class="offer__content-text">
                  Внедорожник, 3.7 л, бензин, КПП типтроник, 260 000 км, на ходу, коричневый, металлик, вложений не
                  требует, за нал торг, цена
                  указана на обмен. Налог 32 000 тенге. таким и останется после переоформлени...
                </div>
                <p class="offer__content-region">
                  <i class="fa fa-map-marker"></i>&nbsp;Москва</p>
              </div>
            </div>
          </div>
        </div>
        <p class="commentItem__text">
          Доброго вермени суток! Предлагаю машинешку за Ваш драндулет, с моей доплатой 1 000 000 рублей. И 15 соток
          участок в п. Быково.
        </p>
        <div class="commentItem">
          <header class="commentItem__header">
            <span class="commentItem__author-name">
              Иван
              <small class="commentItem__for">для</small> Николай
              <i class="commentItem__arrow"></i>
            </span>
            <span class="commentItem__date">16 февраля 2016 в 22:56</span>
            <a href="/" class="commentItem__answer">Ответить</a>
            <a href="/" class="commentItem__complain">Пожаловаться</a>
          </header>
          <footer class="commentItem__footer">
            <p class="commentItem__text">готов рассмотреть Ваше предложение елси сумма доплаты будет 1 500 000 рублей и
              участно не нужен.</p>
            <!--Answer form -->
            <div class="commentItem__InternalComment active">
              <form method="POST">
                <input type="hidden" name="adId" value="126">
                <input type="hidden" name="replyTo" value="23151">
                <div class="ctrSelect">
                  <header class="ctrSelect__title--forComment">
                    Иван, предложите обмен
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"
                      title="Если у Вас есть свои объявления, Вы можете предложить обмен"></i>
                  </header>
                  <footer class="ctrSelect__footer">
                    <select class="ctrSelect__default--forComment" name="offered_id">
                      <option value=""></option>
                      <option value="101">Kawasaki versus '2014</option>
                      <option value="102">BMW m200 '2010</option>
                      <option value="103">Nissan Patrol '2010</option>
                    </select>
                  </footer>
                </div>
                <textarea class="comment-form__control comment-form__control--area" name="msg-internal"
                  placeholder="Ваше сообщение..." rows="6" role="textbox"></textarea>
                <div class="comment-form__btn">
                  <a href="ShowAdList.html" class="b-btn b-btn--blue b-btn--comment" type="submit">
                    Ответить
                  </a>
                  <a href="ShowAdList.html" class="b-btn b-btn--gray-spread b-btn--comment" type="submit">
                    Отмена
                  </a>
                </div>
              </form>
            </div>
          </footer>
        </div>
        <div class="commentItem">
          <header class="commentItem__header">
            <span class="commentItem__author-name">
              Ксения
              <small class="commentItem__for">для</small> Николай
              <i class="commentItem__arrow"></i>
            </span>
            <span class="commentItem__date">16 февраля 2016 в 22:56</span>
            <a href="/" class="commentItem__answer">Ответить</a>
            <a href="/" class="commentItem__complain">Пожаловаться</a>
          </header>
          <footer class="commentItem__footer">
            <!--Offer-->
            <div class="commentItem__offer offer">
              <div class="offer__pin"></div>
              <div class="row">
                <div class="col-md-2 col-sm-6">
                  <figure class="offer__img">
                    <img class="img-fluid" src="https://picsum.photos/200/150/?blur" alt="">
                  </figure>
                </div>
                <div class="col-md-10 col-sm-6">
                  <div class="offer__content">
                    <span class="offer__content-title-first">
                      <i class="fa fa-refresh"></i> Предложение на обмен</span>
                    <a href="/" class="offer__content-title">
                      Chrysler 300C, 2008 г., 1 500 00 р
                    </a>
                    <div class="offer__content-text">
                      Пилорама рамная Р63-4Б в отличном техническом состоянии, высокая производительность. Станок для
                      заточки пил. Хорошая лебедка.
                      Готовый бизнес. Пилорама новая распилил один вагон. Стоит нет леса. При же...
                    </div>
                    <p class="offer__content-region">
                      <i class="fa fa-map-marker"></i>&nbsp;Москва</p>
                  </div>
                </div>
              </div>
            </div>
            <p class="commentItem__text">Здравстуйте))) А я предлагаю свой драндулет)) И натурой в течение часа)))</p>
          </footer>
        </div>

        <div class="commentItem">
          <header class="commentItem__header">
            <span class="commentItem__author-name">
              Николай
              <small class="commentItem__for"> для</small> Ксения
              <i class="commentItem__arrow"></i>
            </span>
            <span class="commentItem__date">16 февраля 2016 в 22:56</span>
            <a href="/" class="commentItem__answer">Ответить</a>
            <a href="/" class="commentItem__complain">Пожаловаться</a>
          </header>
          <footer class="commentItem__footer">
            <p class="commentItem__text">Спасибо, не интересует</p>
          </footer>
        </div>

      </footer>
    </div>
    <hr />
    <!--commentItem-->
    <div class="commentItem">
      <header class="commentItem__header">
        <span class="commentItem__author-name">Анастасия</span>
        <span class="commentItem__date">16 февраля 2016 в 22:56</span>
        <a href="/" class="commentItem__answer">Ответить</a>
        <a href="/" class="commentItem__complain">Пожаловаться</a>
      </header>
      <footer class="commentItem__footer">
        <p class="commentItem__text">вариант на ауди а6 2003 года обьем 3,0 литра + 4000 тыс. если заинтересует мой
          номер 87755205050</p>

        <div class="commentItem">
          <header class="commentItem__header">
            <span class="commentItem__author-name">
              Иван
              <small class="commentItem__for"> для</small> Анастасия
              <i class="commentItem__arrow"></i>
            </span>
            <span class="commentItem__date">16 февраля 2016 в 22:56</span>
            <a href="/" class="commentItem__answer">Ответить</a>
            <a href="/" class="commentItem__complain">Пожаловаться</a>
          </header>
          <footer class="commentItem__footer">
            <p class="commentItem__text">нет спасибо. Удачной продажи</p>
          </footer>
        </div>
      </footer>
    </div>
  </div>
</section>

<app-comment-form></app-comment-form>
